.list {
  margin: auto;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: transparent;
  width: 90%;
  max-width: 1200px;
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 280px);
}
.link {
  text-decoration: none;
  color: var(--front);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item {
  margin: 10px;
  animation-name: show;
  animation-fill-mode: both;
  view-timeline-name: --reveal;
  animation-timeline: --reveal;
  animation-range: entry 50% cover 50%;
}
.logo {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  box-shadow: 5px 5px 5px gray;
}
.link {
  margin: 0;
  padding: 0;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 10%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
