.main {
  margin: auto;
  padding: 0;
  width: 280px;
  height: 280px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  color: var(--front);
  box-sizing: border-box;
  background-color: var(--maincolor);
  border: 7px rgb(179, 163, 115) solid;
  box-shadow: 2px 2px 6px 2px rgb(156, 156, 156);
}
.main:hover {
  scale: 1.05;
  color: var(--frontact);
}

.logo {
  border-radius: 50px;
  margin: auto;
  padding: 0;
  width: 250px;
  height: 250px;
  filter: grayscale(80%);
}

.logo:hover {
  filter: none;
}
.name {
  margin: 0;
  padding: 15px;
  background-color: burlywood;
  color: var(--front);
  border-radius: 50px;
  position: fixed;
  top: 25px;
  left: 45px;
}
